/* The whole body has centred text and a background colour */
body
{
    background-color: powderblue;
    text-align: center;
}
/* arrange the question/answers in a grid */
.question_container
{
    display: none;
    justify-content: center;
}
/* display the question right-aligned, smaller than the answer, in a large font */
.question
{
    font-size: 32pt;
    margin: 0;
    width: 25%;
    text-align: right;
}
/* display the answer left-aligned, with no space around it */
.answer
{
    font-size: 32pt;
    margin: 0;
    text-align: left;
}
/* the countdown timer id has an even larger font size, and no margins */
#countdown
{
    font-size: 64pt;
    margin: 0;
}
/* display all images centred */
img
{
    margin: auto;
}
/* style of a correct answer */
.correct_answer
{
    background-color: green;
    font-size: 32pt;
}
/* style of an incorrect answer */
.incorrect_answer
{
    background-color: red;
    font-size: 32pt;
}
