/* The whole body has centred text and a background colour */
body
{
    background-color: powderblue;
    text-align: center;
}
/* elements of class question have a large font size */
.question
{
    font-size: 32pt;
}
/* elements of type input (where you write answers) inherits the font size */
input[type=text]
{
    font-size: inherit;
}
/* the countdown timer id has an even larger font size, and no margins */
#countdown
{
    font-size: 64pt;
    margin: 0;
}
/* centre all images */
img
{
    padding: inherit;
    margin:auto;
    display: block;
}
/* style of a correct answer */
.correct_answer
{
    background-color: green;
}
/* style of an incorrect answer */
.incorrect_answer
{
    background-color: red;
}
